.title {
  position: absolute;
  top: 0;
  left: 0;
  padding: 30px;
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  max-width: 200px;
}

.info {
  transition: all easy-in-out 0.3s;
  position: absolute;
  top: 0;
  left: 0;
  background-color: red;
  border-radius: 5px;
  padding: 10px;
  color: #fff;
  font-weight: 700;
  text-align: center;
  backdrop-filter: blur(14px);
  box-shadow: inset 0 0 0 4000px #ffffff4d;
  display: none;
}
