.title {
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  white-space: nowrap;
  text-decoration: underline;
  text-decoration-color: #2859FF;
}

.container {
  display: grid;
  grid-template-columns: repeat(2,1fr);
  gap: 50px;
}

.wrapperText {
  margin-bottom: 15px;
}

.description {
  color: #fff;
  font-weight: 700;
  font-size: 18px;
  white-space: nowrap;
}


.info {
  transition: all easy-in-out 0.3s;
  position: absolute;
  top: 0;
  left: 0;
  background-color: red;
  border-radius: 5px;
  padding: 10px;
  color: #fff;
  font-weight: 700;
  text-align: center;
  backdrop-filter: blur(14px);
  box-shadow: inset 0 0 0 4000px #ffffff4d;
  display: none;
}
