.select > div > div > input {
  color: #fff;
  width:  420px ;
  border: 1px solid rgba(32, 32, 32, 1);
  border-radius: 16px;
  background: #0A0A0A;
  padding: 15px;
  height: auto;
  max-height: 50px;
  color: 'rgba(124, 124, 124, 1)';
}
